.course-card {
    background-color: #007bff;
    color: #fff;
    margin: 0 auto; /* Center the card in the column */
  }
  
  .course-card-placeholder {
    height: 150px;
    background: #e3f2fd;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    margin-bottom: 1.5rem;
  }
  
  /* Ensuring cards have consistent width and spacing */
  @media (min-width: 1200px) {
    .course-card {
      max-width: 400px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .course-card {
      max-width: calc(50% - 30px);
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .course-card {
      max-width: calc(50% - 30px);
    }
  }
  
  @media (max-width: 767px) {
    .course-card {
      max-width: calc(100% - 30px);
    }
  }
  
  .btn-edit {
    background-color: transparent; 
    color: grey; 
    border: 2px solid grey;
  }
  
  .btn-edit i {
    color: grey;
    border: 2px solid grey; 
    padding: 2px;
    border-radius: 2px;
  }
  
  .card-text-color {
    color: grey;
  }

  .title-text-color {
    color: grey;
  }
  
  .disabled-link {
    color: grey;
    pointer-events: none;
    cursor: default;
  }
  